/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Raleway');

html {
    position: relative;
    min-height: 100%;
}

body{
  margin: 0 0 250px;
}

canvas {
	  display: block;
	  position: absolute;
    top: 5;
    z-index: 1;
}

/* Menu Styles */

.menu {
  margin: 0;
  overflow: hidden;
  background-color: white;
}
.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.menu ul li {
  display: inline-block;
  list-style-type: none;
}
.menu ul li a {
  color:#333333;
  display: block;
  padding: 1em 0.5em 1em 0em;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.menu ul li:first-child {
  margin-right: auto;
}

.menu ul li a#home-link:hover{
  font-weight: bold;
  color:#7b9ed5;
}

.menu ul li a#about-link:hover{
  font-weight: bold;
  color:#f35b71;
}

.menu ul li a#quiz-link:hover{
  font-weight: bold;
  color:#88c441;
}

.menu ul li a#contact-link:hover{
  font-weight: bold;
  color:#fa9e64;
}

/* Home Icons & buttons */

.home-icons{
  text-align:center;
  padding-top: 2.25em;}

.home-buttons{
  width: 150px;
}

.home-buttons-center{
  text-align: center;
}

.about-button{
  background: #f35b71;
}

.about-button:hover{
  background: #ffffff;
  color: #f35b71;
  border: 2px solid #f35b71;
}

.quiz-button{
  background: #8bc34a;
}

.quiz-button:hover{
  background: #ffffff;
  color: #8bc34a;
  border: 2px solid #8bc34a;
}

.contact-button{
  background: #f89e6a;
}

.contact-button:hover{
  background: #ffffff;
  color: #f89e6a;
  border: 2px solid #f89e6a;
}

/* Home Divs */

#about-box, #quiz-box, #contact-box {
height:480px;
width:33.333333333%;
float: left;
display: block;}

/* Contact Icons */

ul#icons {margin-left:2em;}

ul#icons li{
    list-style-type: none;
    display: inline;
}

ul#icons li a{
    text-decoration: none;
}

ul#icons img{width:10%;
margin-right:5px;}

/* Containers */

div#quiz-container{
  width:100%;
  position: absolute;
  z-index: 5;
}

.numbers{
  background-color: #d3d3d3;
  color: #ffffff;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin-right:10px;
}

div#info-container{
width:60%;
/*border: 1px solid lightgrey;*/
background: #f9fafc;
border-radius: 10px;
margin: 0 auto;
margin-top: 100px;
margin-bottom: 100px;
}

div#info{
width:80%;
margin: 0 auto;
line-height: 24px;
padding-top: 3em;
padding-bottom: 3em;}

div#about{
  padding: 4.5em;
  line-height:28px;
}

div#startQuiz{
width:80%;
margin: 0 auto;
line-height: 24px;
padding-top: 3em;
padding-bottom: 3em;}

/* Text styles */
h1, h2 {font-family: 'Raleway', sans-serif;
color: #444444;
margin-bottom: 35px;}

h2 {
font-weight: 400;
line-height: 28px;}

p {font-family: 'Raleway', sans-serif;
font-weight: 300;}

p.home-text{text-align: center;
color:#444444;
font-size:15px;
margin-left:20px;
margin-right:20px;}

.participation{text-align:center;
padding-bottom: 3em;}

.name{margin-bottom:0px;
margin-left:3em;}

.subtitle{margin-top:0px;
font-weight: bold;
margin-left:4.5em;}

/* Quiz Buttons */

button{
  background:#d3d3d3;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
  width:100px;
  height:30px;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
}

button:hover{
  background:#8bc34a;
}

button#start, button#takeQuiz{
  background:#8bc34a;
  width:100%;
}

button#start:hover, button#takeQuiz:hover{
  background:#ffffff;
  color: #8bc34a;
  border: 2px solid #8bc34a;
}

/* Footer */

footer {background-color: #444444;
position: absolute;
left: 0;
bottom: 0;
right: 0;
width:100%;
clear: both;}

footer p{color: white;
font-family: 'Open Sans', sans-serif;
text-align: center;
padding: 2em;}

#quiz-footer{
  position: absolute;
  bottom: -20em;
}

/* Media Queries */

@media (max-width: 745px){
    div.info {width:80%;}

}

@media (max-width: 890px){
    div.info {width:80%;}
}
