/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Barlow');

h1, h2, h3 {font-family: 'Roboto', sans-serif;
color: #59999e;}

strong {color: #59999e;}

p, li {font-family: 'Barlow', sans-serif;}

li{color: #717171;
list-style-type: square;}

ul li a {
color: #717171;}

#header {text-align: center;}

img{width:100%;}

#header h1 {color: #ffffff;
margin: 0;}

div.info{color: #717171;
width:50%;
margin: 0 auto;
line-height: 24px;
padding-top: 3em;
padding-bottom: 3em;}

#info-container{
width:100%;
background-color:#efefef;
}

footer {background-color: #59999e;
margin: 0;}

footer p{color: white;
font-family: 'Roboto', sans-serif;
text-align: center;
padding: 1em;}

@media (max-width: 745px){
    div.info {width:80%;}

}

@media (max-width: 890px){  
    div.info {width:80%;}
}